@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/fonts/Inter-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/Inter-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Inter-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/Inter-ExtraBold.woff2") format("woff2");
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

:root {
  --color-dark-100: #dee3ea;
  --color-dark-200: #b2bdcd;
  --color-dark-300: #5d7290;
  --color-dark-500: #2c394b;
  --color-dark-600: #323d4d;
  --color-dark-700: #242c37;
  --color-dark-800: #151a21;
  --color-dark-900: #0b0e11;
  --color-accent: #fd4d4d;
  --color-brand: #5575e7;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

@layer utilities {
  .flex-c {
    @apply flex flex-col;
  }

  .c {
    @apply flex justify-center items-center;
  }

  .tick-l::after {
    content: "";
    border-left: 12px solid transparent;

    border-top: 16px solid;
    @apply h-3 w-3 -left-2 top-0 absolute;
  }

  .tick-r::after {
    content: "";
    border-right: 12px solid transparent;

    border-top: 16px solid;
    @apply h-3 w-3 -right-2 top-0 absolute;
  }

  .tick-l + .tick-r {
    margin-top: 15px;
  }

  .tick-r + .tick-l {
    margin-top: 15px;
  }
}

::-webkit-resizer {
  background: var(--color-dark-700);
}

.h-screen-reduction {
  height: calc(100vh - 56px);
}

button:focus {
  @apply ring-2;
  outline: none;
}

@keyframes shake {
  0% {
    margin-left: 0px;
  }
  25% {
    margin-left: 4px;
  }
  50% {
    margin-left: 0px;
  }
  75% {
    margin-left: -4px;
  }
  100% {
    margin-left: 0px;
  }
}

.shake {
  animation: shake 0.2s ease-in-out 0s 1;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}
