@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

:root {
  --color-dark-100: #fcfcfc;
  --color-dark-200: #b2b2b2;
  --color-dark-300: #8a8a8a;
  --color-dark-400: #515151;
  --color-dark-500: #414141;
  --color-dark-600: #313131;
  --color-dark-700: #212121;
  --color-dark-800: #0f0f0f;
  --color-dark-900: #000000;
  --color-accent: #fd4d4d;
  --color-brand: #5575e7;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

body {
  @apply bg-dark-900 text-white;
}

@layer utilities {
  .flex-c {
    @apply flex flex-col;
  }

  .f {
    @apply flex;
  }

  .c {
    @apply flex justify-center items-center;
  }

  .tick-l::after {
    content: "";
    border-left: 12px solid transparent;

    border-top: 16px solid;
    @apply h-3 w-3 -left-2 top-0 absolute;
  }

  .tick-r::after {
    content: "";
    border-right: 12px solid transparent;

    border-top: 16px solid;
    @apply h-3 w-3 -right-2 top-0 absolute;
  }

  .tick-l + .tick-r {
    margin-top: 15px;
  }

  .tick-r + .tick-l {
    margin-top: 15px;
  }

  .border-500 {
    @apply border border-dark-500;
  }
}

::-webkit-resizer {
  background: var(--color-dark-700);
}

.h-screen-reduction {
  height: calc(100vh - 56px);
}

button:focus {
  @apply ring-2;
  outline: none;
}

@keyframes shake {
  0% {
    margin-left: 0px;
  }
  25% {
    margin-left: 6px;
  }
  50% {
    margin-left: 0px;
  }
  75% {
    margin-left: -6px;
  }
  100% {
    margin-left: 0px;
  }
}

.shake {
  animation: shake 0.2s ease-in-out 0s 1;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}
